body {
    background-color: #a2a2a2 !important;
  }

.containerMain{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.main{
    background-color: #FFF;
    min-height: 200px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    flex-direction: column;
}

.dropdown-menu{
    right: 0 !important;
  }